img {
    margin-left: 200px;
    width: 200px;
    height: 200px;
}

body>.translate:first-of-type:hover {
    transform: translate(200px, 200px);
}


body>.translate:nth-of-type(2):active {
    transform: translateX(500px);
}


body>.translate:nth-of-type(3):active {
    transform: translateY(-500px);
}

body>.translate:nth-of-type(4):active {
    /* 원근감 설정 */
    transform: perspective(400px) translateZ(300px);
}

h3~p {
    margin-left: 200px;
}

.scale:hover {
    transform: scale(1.5);
}

.scalex:hover {
    transform: scaleX(1.5);
}

.scaley:hover {
    transform: scaleY(1.5);
}

.transitiondiv {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition-property: transform;
    /* 특정 속성단위로만 트랜지션이 적용될 수 있다. */
    transition-duration: 4s;
    transition-timing-function: ease-out;
}

input:checked+div {
    /* input 태그가 체크될때 그 뒤의 div를 200px 앞으로 위치조정 */
    transform: translateX(800px);
    width: 500px;
    height: 500px;
    background-color: lime;
}